/*SELECTOR UNIVERSAL*/

*{
    box-sizing: border-box; /*Establece la configuracion de calculo del modelo de caja*/
    padding: 0px; /* --Configura las preferencias del navegador en padding*/
    margin: 0px; /* --Configura las preferencias del navegador en margin*/
    /* font-size: 62.5%; */
    font-family: "Monserrat";
}

html {
    font-size: 62.5%;
}


/*BODY*/

body {
    /* background-color:rgb(203, 238, 251); */
    background-color:whitesmoke;
    width: 100vw;
    height: 100vh;
    position: absolute;
} 


/*INICIO DE HEADER--BARRA NAVEGACION PRINCIPAL1*/
header {

    width: 100%;
    height: 5.9%;
    background-color: white;
}

.nav-header {

    width: 100%;
    height: 100%;
}


.main-nav1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw; 
    list-style: none;            /* --list-style: Estilo de viñeta de una lista */
    padding:1.62rem 0;      /*       --padding: Es un espacio interno en un contenedor.  -- background-color: Color de fondo  */ 
    /* background-color: rgb(9, 134, 123);   */
    text-align: center;
}

.main-nav1__item{
    display:inline-block;
}

.main-nav1__item a {
    
    color: rgb(10, 61, 46);
    padding: 2rem 10rem;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.8rem;
} 

.main-nav1__item a:hover{     /*Pseudo-Clases*/   /*-----Definen el estilo de un estado de un elemento*/
    background-color: rgba(8, 190, 144, 0.945);  
    
}

.main-nav1__item a:active{    /*-----Define el estilo de una parte especifica de un elemento*/
    color:  rgb(10, 61, 46); 
}


.main-nav1__img {
    position: absolute;
    top:0;
    left:0;
    width: 20vw;
    height: 5.9vh;
    /* background-color: rgb(24, 37, 37); */
    /* background-image: url(/pexels-rakicevic-nenad-1274260.jpg); */
    display: inline-block;
}

.main-nav1__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    
  
}



/*INICIO DE MAIN*/

main {
    width: 100%;
    height: 87.1%;
    position: absolute;
 
}


.main-aside {
    position: inherit;
    left: 0;
    top: 0; 
    width: 20vw;
    height: 100%;
    /* border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke; */
    
   
}

.main-aside-items {

    width: 100%;
   
}
.main-aside-items figure{
    
    /* background-color: rgb(9, 134, 123); */
    padding: 5.29rem;
    font-family: inherit;
    text-align: center;
   
}
.main-aside-items img {

    width: 25px;
    height: 25px;
}

.main-aside-items .logo2{

    width: 37px;
    height: 37px;
}
.main-aside-items a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.main-aside-items figure:hover {
    background-color: rgba(8, 190, 144, 0.945);
    /* border-radius: 10px; */
}

.main-aside-items a:active {
    color: black
}


.main-container { 
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.main-container-figure1 {

    width: 100%;
    height: 100%;
    
}

.main-container-figure1 img {

    width: 100%;
    height: 100%;
}

.main-container2 .figureOne, .second-container, .title{

    margin: 0 auto;
    text-align: center;
}


.figureOne {
    position: relative;
    bottom: 22rem;
    width: 10rem;
    height: 10rem;
    
}

#picture {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    
    
}

.second-container {
    /* background-color: rgba(8, 190, 144, 0.945); */
    padding: 1rem;
    padding-top:2rem ;
    border-radius: 5px;
    width: 100%;
    display: block;
    position: relative;
    top: 2rem;
   
}

.title {

    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    /* background-color: rgb(32, 129, 142); */
    padding: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 11rem;
    z-index: 1;
}



#Description {
    font-weight: normal;
    font-size: 1rem;
    color: rgb(71, 71, 71);
}






/*INICIO DEL FOOTER*/

footer {
    background-color: white;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 7%;
    

}

.nav-footer {

    width: 100%;
    height: 100%;
}


.footer-content1 , .footer-content2 {
    font-size: 1.6rem;
    height: 100%;
    
}


.footer-content1 {
    position:absolute;
    left: 0;
    margin: 0;
    width: 20vw;
    border-left: 1px solid whitesmoke ;
    color: rgb(10, 61, 46);
    
}


.footer-content1-nav1 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    width: 100%;
    height: 60%;
    

}

.footer-content1-nav1__item 
{
    width: 100%;
    height: 100%;
}

.footer-content1-nav2 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 40%;
    

}

.footer-content1-nav2__item {

    display: inline-block;
    width: 25px;
    height: 25px;
    
}

.footer-content1-nav2__item img {

    width: 100%;
    height: 100%;

}



.footer-content2 {
    text-align: center;
    position:absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 80vw;
    /* border-top: 1px solid black; */
}

.footer-content2-nav {
    padding: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    list-style: none; 
}


.footer-content2-nav__item {
    display:inline-block;
    
}

.footer-content2-nav__item a {
    
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(10, 61, 46);
    padding: 10px 2.5rem;
    text-decoration: none; 
} 

.footer-content2-nav__item a:hover{    /*-----Define el estilo de una parte especifica de un elemento*/
    /* color:  rgb(10, 61, 46); */
    color: rgba(8, 190, 144, 0.945);
}

.footer-content2-nav__item a:active {
    color: whitesmoke;
}



