* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

header {
  width: 100vw;
  min-width: 320px;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.header-nav {
  width: 100vw;
  min-width: 320px;
  height: 30%;
  display: flex;
  background-color: whitesmoke;
}

.main-nav1 {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
}

.main-nav1 li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav1 a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.main-nav1 li:hover {
  background-color: rgba(8, 190, 144, 0.945);
}

.main-logo {
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80%;
  height: 80%;
  background-color: white;
}

/* MAIN */

main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-aside {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  order: 2;
}

.figure {
  width: 100vw;
  min-width: 320px;
  height: 17.5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.figure:hover {
  background-color: rgba(8, 190, 144, 0.945);
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5 {
  height: 30%;
}

.aside-nave-text1,
.aside-nave-text2,
.aside-nave-text3,
.aside-nave-text4,
.aside-nave-text5,
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 320px;
  height: 52.5vh;
  order: 1;
}

.main-section {
  width: 100%;
  height: 35vh;
  order: 1;
}

.section-figure {
  width: 100%;
  height: 100%;
}

.section-figure-img1 {
  width: 100%;
  height: 100%;
}

.main-section2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 17.5vh;
  order: 2;
}

.content1,
.content2 {
  width: 50vw;
  min-width: 160px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.content1 {
  background-color: rgb(233, 248, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content1::hover {
  transition: all 0.5s ease-in-out;
}

.section2-img1 {
  width: 110%;
}

.section2-img1:hover {
  opacity: 0.8;
}

.section2-img1:active {
  opacity: 0.5;
}

.content2 {
  background-color: #ccf2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.footer-content2 {
  width: 100vw;
  min-width: 320px;
  height: 45%;
  order: 1;
}

.footer-content2-nav {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-content2-nav a {
  text-align: center;
  font-size: 1.3rem;
}

.footer-content2-nav li {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content2-nav a:hover {
  color: rgba(8, 190, 144, 0.945);
}

.footer-content2-nav a:active {
  color: white;
}

.footer-content1 {
  width: 100vw;
  height: 55%;
  display: flex;
  flex-direction: column;
  order: 2;

}

.footer-content1-nav1 {
  width: 100vw;
  min-width: 320px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  order: 2;
}

.footer-content1-nav2 {
  width: 100vw;
  min-width: 320px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.footer-content1-nav2__item {
  margin: 0 auto;
  background-color:black;
  width: 3rem;
  min-width: 25px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  height: 100%;
  background-color:red;
}
